/* All Pages */

html {
    background-color: #202A34;
    color: #FBFAF5;
}

h1 {
    text-align: center;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 40px 20px;
}



/* Site Header */

img {
    width: 80px;
    margin-left: 23px;
}

.site-header {
    background-color: rgba(107, 102, 102, 0.246);
    display: flex;
    justify-content: space-between;     /* along main-axis */
    align-items: center;                /* along cross-axis */
}



/* NavBar */

.navbar {
    margin-right: 40px;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;           /* removes bullet points from list */
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    border-radius: 5px;
}

li {
    height: 100%;
}

ul li {
    float: right;        /* makes <li> elements float next to each other */
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;          /* removes underlines from links */
}

ul li a:hover {
    background-color: #111111;
    border-radius: 5px;
}



/* Sections */

.section-left {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.section-right {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px
}

.text-box {
    background: rgba(128, 128, 128, 0.085);
    padding: 25px;
    max-width: 900px;
    border-radius: 8px;
    margin-top: 50px;
}